node_modules/
*.pyc
*.*~
local_settings.py
scriptrunner_*
*.eml
*.db
data/batch
*.xls
*.log
*.txt
*.mo
_build

# txt files used by message templates
!*_email.txt
!*_sms.txt
!*_ivr.txt

*.sqlite3
*.tmproj
*.sqlite3
*.sqlite
*.swp
*.swo
.DS_Store
.fseventsd
*.komodoproject
*.kpf
.vimrc
*.orig
docs/api/build
.idea
media/static
media/clinclient/studies/receipts
*.csv
*.dat
logs
*.rdb
*.zip
*.bz2
*.gz
*.shelf
ipython_log.py
.coverage
*.bak
*.pickle
*.out
*.xlsx
pyenv
*.!sync
data/
*.sass-cache
conf/terminal.glue
.eslintrc
cover/
*.ipynb
.ipynb_checkpoints/
django-private-files/
python-xlsx/
ssh/
coverage.xml
dev/**
ai_frontend/.vscode/
ai_frontend/.angular/
ai_frontend/.editorconfig
